body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #FFD700; /* Gold */
  color: #333;
  text-align: center;
  padding: 50px 0;
}

.about, .menu, .contact {
  padding: 50px 0;
  text-align: center;
}

.menu-item {
  margin-bottom: 50px;
}

.menu-item img {
  width: 200px;
  border-radius: 10px;
}

footer {
  background-color: #FFD700; /* Gold */
  color: #333;
  text-align: center;
  padding: 20px 0;
}
